<header id="header" class="header">
  <div class="header__container container">
    <div class="header__content">
      <h3 class="header__subtitle">Hello</h3>
      <h2 class="header__title">
        I'm
        <span id="header-title" class="header__title--blue"
          >Evgeny Perepelyatnik</span
        >
      </h2>
      <p class="header__text">I make amazing professional videos and photos</p>
      <a class="header__button button" href="#/">About Me</a>
      <a class="header__button button" href="#/">My Portfolio</a>
    </div>
  </div>
</header>
