.logo {
  &__link {
    @include flex(center, center, row);
  }
  &__img {
    width: 90px;
    height: auto;
    margin-right: 10px;
  }
  &__title {
    text-align: center;
    @include text($H300, 900, $darken);
    font-family: $main-font;
    text-transform: uppercase;
    letter-spacing: 5px;
    // border-right: 1px solid $gray;
    // padding-right: 30px;
    line-height: 2;
    transition: all 0.3s linear;
  }
}
